*{
    background-color: #84cbf5;
    text-align: justify;
}

h2 {
    color:black;
    background-color: black;
    text-align: center;
}

h1 {
    color:#39016b;
    text-align: center;
    background-color:black;
}
